In [47]:
from worldsense.benchmark import load_testset

testset_dir = "data/other_tests/memorisation"
trials_df = load_testset(testset_dir)  # Load all trials as a pandas dataframe

In [50]:
print(trials_df.tail()['text'])  # Display the first few rows of the dataframe

11227    Watching a car race today, Freddy bet with his...
11228    Over the years, Ted and Lisa plan to renovate ...
11229    Over the years, Ted and Lisa plan to renovate ...
11230    Jimmy went to the mall with a list of 5 items ...
11231    Jimmy went to the mall with a list of 5 items ...
Name: text, dtype: object

In [59]:
import random as rd

In [89]:
df_list = trials_df.to_dict(orient='records')
rd.sample(df_list, 2)

[{'Key': 6196701747143722826,
  'problemname': 'Consist.normal',
  'tuple_ID': 'finetune_10k_results_09-26-2023_02h18m04s_2139',
  'text': "Since she got her new job Alice visited a different country each year. In total, she visited 3 countries.\nIf one were to say: 'Alice visited Italy after Australia, Italy in between her visits to Australia and United Kingdom and Italy in between her visits to Australia and United Kingdom.', would that situation be POSSIBLE or IMPOSSIBLE ? Only respond with 'POSSIBLE' or 'IMPOSSIBLE' without any explanation:\n",
  'expectedresp': ['POSSIBLE', 'IMPOSSIBLE'],
  'span': 2,
  'descr': '[(0, 1),(1, 0, 2),(1, 0, 2)]',
  'query': '(1, 0, 2)',
  'objects': ['Australia', 'Italy', 'United Kingdom'],
  'problemsize': 3,
  'skin': 'trips_countries',
  'qskin': 'directQ2',
  'complexity': 'Complexity_2',
  'query_len': 3,
  'goldresp': 'POSSIBLE',
  'EXPNAME': 'memorisation',
  'EXP_i': 10118},
 {'Key': -7002141528012908152,
  'problemname': 'Consist.trivial',
  'tuple_ID': 'finetune_10k_results_09-26-2023_02h18m04s_2879',
  'text': "In the imaginary country of Smildonia, there are 4 mountains that have been compared in terms of their altitude. If I say 'Dragon's Breath Ridge's height is in between that of Crimson Crest and Sirensong Cliff, Dragon's Breath Ridge's height is in between that of Ebonfire Crater and Sirensong Cliff, Sirensong Cliff is lower than Crimson Crest and Sirensong Cliff's height is in between that of Dragon's Breath Ridge and Crimson Crest.', is the situation I just described possible or impossible ? Only respond with 'POSSIBLE' or 'IMPOSSIBLE' without any explanation. ",
  'expectedresp': ['POSSIBLE', 'IMPOSSIBLE'],
  'span': 0,
  'descr': '[(2, 1, 0),(2, 1, 3),(0, 1),(1, 0, 2)]',
  'query': '(2, 1, 0)',
  'objects': ['Crimson Crest',
   'Sirensong Cliff',
   "Dragon's Breath Ridge",
   'Ebonfire Crater'],
  'problemsize': 4,
  'skin': 'High/Low/mountains',
  'qskin': 'directQ1',
  'complexity': 'Complexity_2',
  'query_len': 3,
  'goldresp': 'IMPOSSIBLE',
  'EXPNAME': 'memorisation',
  'EXP_i': 10333}]

In [61]:
rd.choices(trials_df, k=5)  # Randomly select 5 trials from the dataframe

KeyError: 5754

In [53]:
other_tests = dict()
for test in os.listdir("./data/other_tests"):
    other_tests[test] = load_testset(f"./data/other_tests/{test}")

In [58]:
other_tests['ood-problem']

,Key,problemname,tuple_ID,text,expectedresp,span,descr,query,objects,problemsize,skin,qskin,complexity,query_len,goldresp,EXPNAME,EXP_i
0,-8835267129707233372,Infer.parallel,parallel_results_10-31-2023_07h23m44s_1552,The map of the imaginary city of neo-Venice lo...,"[TRUE, FALSE]",NaN,"[(0, 1),(1, 2),(2, 3)]","(0, 1)","[Tintoretto Canal, San Marco Channel, Aqua Ser...",4,parallel_perpendicular_canals,directQ2,Complexity_0,2,TRUE,ood-problem,0
1,2745962097812763947,Infer.parallel,parallel_results_10-31-2023_07h23m44s_1552,The map of the imaginary city of neo-Venice lo...,"[TRUE, FALSE]",NaN,"[(0, 1),(1, 2),(2, 3)]","(0, 1)","[Tintoretto Canal, San Marco Channel, Aqua Ser...",4,parallel_perpendicular_canals,directQ2,Complexity_0,2,FALSE,ood-problem,1
2,-6756389878991767128,Infer.parallel,parallel_results_10-31-2023_07h23m44s_2608,Marta draw 5 colored lines in a large sheet of...,"[TRUE, FALSE]",NaN,"[(0, 1),(1, 2),(2, 3),(3, 4)]","(0, 1)","[the green line, the yellow line, the black li...",5,parallel_perpendicular_drawing,directQ2,Complexity_0,2,TRUE,ood-problem,2
3,-3523887513001861005,Infer.parallel,parallel_results_10-31-2023_07h23m44s_2608,Marta draw 5 colored lines in a large sheet of...,"[TRUE, FALSE]",NaN,"[(0, 1),(1, 2),(2, 3),(3, 4)]","(0, 1)","[the green line, the yellow line, the black li...",5,parallel_perpendicular_drawing,directQ2,Complexity_0,2,FALSE,ood-problem,3
4,5992111034333909673,Infer.parallel,parallel_results_10-31-2023_07h23m44s_1851,Marta draw 3 colored lines in a large sheet of...,"[TRUE, FALSE]",NaN,"[(0, 1),(1, 2)]","(0, 1)","[the green line, the gray line, the pink line]",3,parallel_perpendicular_drawing,directQ1,Complexity_0,2,TRUE,ood-problem,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5395,-7183380611663591617,Infer.parallel,parallel_results_10-31-2023_07h23m44s_1499,The map of the imaginary city of neo-Venice lo...,"[TRUE, FALSE]",NaN,"[(0, 1),(1, 2)]","(0, 1)","[Jupiter Stream, Copernicus Canal, Rio di Cana...",3,parallel_perpendicular_canals,directQ2,Complexity_0,2,FALSE,ood-problem,5395
5396,5380719760124466835,Infer.parallel,parallel_results_10-31-2023_07h23m44s_605,The map of the imaginary city of Gattaca looks...,"[TRUE, FALSE]",NaN,"[(0, 1),(1, 2),(2, 3)]","(0, 1)","[Mendel Street, Helix Street, Watson Road , Da...",4,parallel_perpendicular_city,directQ2,Complexity_0,2,TRUE,ood-problem,5396
5397,-2920286265969399907,Infer.parallel,parallel_results_10-31-2023_07h23m44s_605,The map of the imaginary city of Gattaca looks...,"[TRUE, FALSE]",NaN,"[(0, 1),(1, 2),(2, 3)]","(0, 1)","[Mendel Street, Helix Street, Watson Road , Da...",4,parallel_perpendicular_city,directQ2,Complexity_0,2,FALSE,ood-problem,5397
5398,-2190767055205383208,Infer.parallel,parallel_results_10-31-2023_07h23m44s_2637,Marta draw 5 colored lines in a large sheet of...,"[TRUE, FALSE]",NaN,"[(0, 1),(1, 2),(2, 3),(3, 4)]","(0, 1)","[the blue line, the orange line, the black lin...",5,parallel_perpendicular_drawing,directQ2,Complexity_0,2,TRUE,ood-problem,5398
5399,-2573984890252519464,Infer.parallel,parallel_results_10-31-2023_07h23m44s_2637,Marta draw 5 colored lines in a large sheet of...,"[TRUE, FALSE]",NaN,"[(0, 1),(1, 2),(2, 3),(3, 4)]","(0, 1)","[the blue line, the orange line, the black lin...",5,parallel_perpendicular_drawing,directQ2,Complexity_0,2,FALSE,ood-problem,5399

In [51]:
trials_df.head() # Display the last few rows of the dataframe

,Key,problemname,tuple_ID,text,expectedresp,span,descr,query,objects,problemsize,skin,qskin,complexity,query_len,goldresp,EXPNAME,EXP_i
0,7959848182580870883,Consist.normal,finetune_10k_results_09-26-2023_02h18m04s_1961,"At the post office, Max's job is to sort the i...","[POSSIBLE, IMPOSSIBLE]",3,"[(2, 1, 3),(1, 2),(0, 3),(1, 0, 2)]","(0, 3)","[box from Michigan, box from Florida, box from...",4,Big/Small/boxes,directQ1,Complexity_2,2,POSSIBLE,memorisation,0
1,2294099916193274578,Consist.normal,finetune_10k_results_09-26-2023_02h18m04s_1961,"At the post office, Max's job is to sort the i...","[POSSIBLE, IMPOSSIBLE]",3,"[(2, 1, 3),(1, 2),(3, 0),(1, 0, 2)]","(3, 0)","[box from Michigan, box from Florida, box from...",4,Big/Small/boxes,directQ1,Complexity_2,2,IMPOSSIBLE,memorisation,1
2,9125316811816168734,Infer.normal,finetune_10k_results_09-26-2023_02h18m04s_249,There are 3 pieces of furniture to load into t...,"[TRUE, FALSE]",2,"[(1, 0, 2),(0, 1)]","(1, 0, 2)","[the master bookcase, the China cabinet, the a...",3,Heavy/Light/furniture,directQ2,Complexity_2,3,TRUE,memorisation,2
3,3852224435590882595,Infer.normal,finetune_10k_results_09-26-2023_02h18m04s_249,There are 3 pieces of furniture to load into t...,"[TRUE, FALSE]",2,"[(1, 0, 2),(0, 1)]","(0, 1, 2)","[the master bookcase, the China cabinet, the a...",3,Heavy/Light/furniture,directQ2,Complexity_2,3,FALSE,memorisation,3
4,1276804373760883065,Consist.normal,finetune_10k_results_09-26-2023_02h18m04s_2321,"Watching a car race today, Freddy bet with his...","[POSSIBLE, IMPOSSIBLE]",4,"[(3, 2, 4),(1, 0, 2),(0, 4),(3, 4),(2, 1, 3)]","(0, 4)","[the Porsche, the Lotus, the Alfa Romeo, the R...",5,race_car,directQ2,Complexity_2,2,POSSIBLE,memorisation,4

In [41]:
all(map(lambda x : x.isdigit() or x.isalpha(), trials_df['goldresp']))

True

In [36]:
list(filter(lambda x : '_' not in x, dir(str)))

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [18]:
os.path.join(testset_dir, 'trials.csv')

'data/worldsense/test_set/trials.csv'

In [42]:
'ABc12'.lower()

'abc12'

In [43]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [44]:
set.difference({'a', 'b'}, {'b', 'c'})

{'a'}

In [77]:
import time

In [87]:
split(8, 3)

[3, 2, 3]

In [76]:
int(0.6)

0